<head>
  <style>
    @media only screen and (max-width: 600px) {
      body {
        font-size: 1.0em;
      }
    }
  </style>
</head>
<body>
<section class="hero is-fullheight has-text-centered has-background-white-ter" id="about">
    <div class="hero-body">
        <div class="container">
            <div class="columns" style="size: 80%;">
                <div class="column is-centered">
                    <figure class="image" style="margin-top: 2.5%; margin-bottom: 1.5%;">
                        <img class="is-rounded" src="{{site.author-image}}" alt="Mengwei Lin">
                    </figure>
                </div>
            </div>
            <div class="columns">
                <div class="column has-text-left-desktop has-text-centered-mobile has-text-left-fullhd has-text-left-widescreen has-text-weight-normal" style="margin-left: 7%; margin-right: 7%; margin-top:none"> 
                    <p style='font-size:110%;' >
                        <span>My name is Mengwei Lin. I am a PhD candidate at the Department of Economics,</span><span><a style ='color: inherit; text-decoration: underline;' href='https://www.ub.edu/school-economics/' target="_blank">School of Economics at the University of Barcelona</a></span><span>and a predoctoral researcher at the</span><span><a style ='color: inherit;text-decoration:underline' href='https://www.ieb.ub.edu/en/' target="_blank">Barcelona Institute of Economics (IEB).</a></span><span>Prior to Barcelona, I obtained my MSc in Economics (with Distinction) from the University of Edinburgh.</span>
                        <br>
                        <br>
                        <span>My research interests are in the </span><span><strong>Economics of Education, Labor Economics, Public Policy, and Causal Inference</strong></span>.
                        <br>
                        <br>
                        <span>Besides, I work as a certified English-Chinese translator, focusing on book translation in the general field of Social Sciences. (Latest:</span><span><a style ='color: inherit' href="http://opac.nlc.cn/F/?request=%E7%BB%8F%E6%B5%8E%E5%AD%A6%E6%80%8E%E4%B9%88%E4%BA%86&func=find-m&find_code=WRD&FIND_BASE=NLC01&FIND_BASE=NLC09" target="_blank">《经济学怎么了》</a></span><span>- <i>What's Wrong with Economics?</i> by Robert Skidelsky) </span>
                        <br>
                        <br>
                        <span> Please feel free to drop me an email if you would like to discuss research, translation, or any other topics (or simply to say hello).</span>
                    </p>
                    <br>
<!--                
                    <p>If you want to say hi or leave a message: 
                        <form action="mailto:mengwei.lin@ub.edu" method="post" enctype="text/plain">
                            <label for="name">Name:</label>
                            <input type="text" id="name" name="name" required>
                            <label for="email">Email:</label>
                            <input type="email" id="email" name="email" required>
                            <label for="message">Message:</label>
                            <textarea id="message" name="message" required></textarea>
                            <input type="submit" value="Send">
                        </form>
                    </p>
                    <br> -->


                    <div class="container columns is-centered" style="width: auto">
                        <div>
                            <a href="403.html"
                                class="button is-l is-rounded is-uppercase has-text-weight-normal is-black is-outlined" target="_blank"><i class="fas fa-file"></i>&nbsp;curriculum vitae</a>
                            </a>
                        </div>
                        <div>
                            <a href="https://ieb.ub.edu/en/researcher/lin-mengwei/"
                                class="button is-l is-rounded is-uppercase has-text-weight-normal is-black is-outlined" target="_blank"><i class="fas fa-file"></i>&nbsp;Institutional page</a>
                            </a>
                        </div>
                    </div>

                    <div class="container columns is-centered" style="width: auto">
                        <div>
                            <a href="http://www.linkedin.com/in/{{site.linkedin_username}}"class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined" target="_blank"  target="_blank">
                                <i class="fab fa-linkedin"></i>&nbsp;Linkedin
                            </a>
                        </div>
                        <div> 
                            <a href="mailto:{{site.email}}"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined"><i class="fas fa-envelope"></i>&nbsp;Email
                                Me</a>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
</section>
</body>