<footer id="footer">
    <!--Footer Button-->
    <div class="container has-text-centered has-background-grey-darker" id="backtotop">
        <a class="has-text-white" href="{{site.url}}{{site.baseurl}}/#about">BACK TO HOME</a>
    </div>
    <!--Footer Main Section-->
    <div class="has-background-grey-darker">
        <div class="container columns">
            <!--Name Section-->
            <div class="column has-text-left-desktop has-text-centered-mobile">
                <a href="{{site.url}}{{site.baseurl}}/#about">
                    <div class="columns">
                        <div class="column is-one-fifth-desktop is-one-fifth-fullhd is-one-quarter-tablet">
                            <figure class="image is-64x64">
                                <img class="is-rounded" src="{{site.author-image}}" alt="IMG Mengwei Lin">
                            </figure>
                        </div>
                        <div class="column is-marginless">
                            <h5 class="has-text-grey-lighter has-text-centered-desktop has-text-centered-mobile">林孟蔚 LIN Mengwei<br>(He/him)</h5>
                            <div class="content has-text-grey">
                                <p>Economist & Translator</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <!--Link Section-->
            <div class="column has-text-grey has-text-centered-desktop has-text-centered-mobile">
                <h3 class="column has-text-white has-text-left">Address</h3>
                {{ site.footer-address.institution }}<br>
                {% for line in site.footer-address.lines %}
                {{ line }}<br>
                {% endfor %}
            </div>

            
            <div class="column has-text-right-desktop has-text-centered-mobile">
                {% for logo in site.footer-address.logos %}
                <figure class="footer-logo">
                    <a href="{{ logo.url }}">
                        <img src="{{ logo.image | relative_url }}" alt="{{ logo.alt }}" width="220" class="footer-logo-img">
                    </a>
                </figure>
                {% endfor %}
            </div>

            <!--Blog-post Section-->
<!--             <div class="column has-text-white">
                <h3>Recent Posts</h3>
                {% for post in site.posts offset: 0 limit:3 %}
                <li>
                    <a href="{{post.url | absolute_url}}">{{post.title}}</a>
                </li>
                {% endfor %}
            </div> -->
        </div>
    </div>
    <div class="has-background-black has-text-centered has-text-white" id="credits">
        <i class="far fa-copyright"></i> {{ "now" | date: "%Y" }} | Partially based on <a href="https://github.com/thedevslot/WhatATheme" target="_blank" rel="noopener noreferrer">WhatATheme</a> by <a href="https://www.twitter.com/thedevslot" target="_blank" rel="noopener noreferrer">TheDevsLot</a>. Powered by <a href="https://jekyllrb.com/" target="_blank">Jekyll</a>.
    </div>
</footer>