<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Include Meta Tags Here -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta content='#000000' name='theme-color'/>
  <meta name="keywords" content="{{site.site-keywords}}">
  <meta name="google-site-verification" content="-IJbGe13iPwG_cUesr85M2RLLs_seOcQoGkcFgn1uBo" />
  <meta name="description" content="Mengwei LIN (林孟蔚) is a PhD Candidate at Uni Barcelona & IEB, working on Econonics of Education. He is also a English-Chinese translator.">
  <title>{{site.title}}{% if page.title %} | {{page.title}}{% endif %}</title>
  <link rel="stylesheet" type="text/css">

  <!-- Open Graph general (Facebook, Pinterest & Google+) -->
  <meta property="og:title" content="{{site.title}}{% if page.title %} | {{page.title}}{% endif %}">
  <meta property="og:description" content="{% unless page.layout == 'post' %}{{site.description}}{% else %}{{page.description}}{% endunless %}">
  <meta property="og:image" content="{% unless page.layout == 'post' %}{{site.site-image}}{% else %}{{page.post-image}}{% endunless %}">
  <meta property="og:image:alt" content="{{site.title}}{% if page.title %} | {{page.title}}{% endif %}">
  <meta property="og:url" content="{{site.url}}{{site.baseurl}}{{page.url}}">
  <meta property="article:author" content="https://www.facebook.com/{{site.facebook_username}}">
  <meta property="og:site_name" content="{{site.title}}{% if page.title %} | {{page.title}}{% endif %}">
  <meta property="og:type" content="website">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image"/>
  <meta property="twitter:title" content="{{site.title}}{% if page.title %} | {{page.title}}{% endif %}">
  <meta property="twitter:description" content="{% unless page.layout == 'post' %}{{site.description}}{% else %}{{page.description}}{% endunless %}">
  <meta property="twitter:site" content="@{{site.twitter_username}}">
  <meta property="twitter:creator" content="@{{site.twitter_username}}">
  <meta property="twitter:image:src" content="{% unless page.layout == 'post' %}{{site.site-image}}{% else %}{{page.post-image}}{% endunless %}">

  <!-- Search Engine -->
  <meta name="description" content="{% unless page.layout == 'post' %}{{site.description}}{% else %}{{page.description}}{% endunless %}">
  <meta name="image" content="{% unless page.layout == 'post' %}{{site.site-image}}{% else %}{{page.post-image}}{% endunless %}">

  <!-- Schema.org for Google -->
  <meta itemprop="name" content="{{site.title}}{% if page.title %} | {{page.title}}{% endif %}">
  <meta name="author" content="{{site.author-name}}"/>
  <meta itemprop="description" content="{% unless page.layout == 'post' %}{{site.description}}{% else %}{{page.description}}{% endunless %}">
  <meta itemprop="image" content="{% unless page.layout == 'post' %}{{site.site-image}}{% else %}{{page.post-image}}{% endunless %}">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{site.google-analytics}}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', '{{site.google-analytics}}');
  </script>

  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Person",
    "name": "Mengwei Lin",
    "alternateName": "林孟蔚",
    "url": "https://lin-mengwei.github.io/",
    "image": "https://lin-mengwei.github.io/assets/images/image.jpg",
    "sameAs": [
      "https://www.linkedin.com/in/lin-mengwei",
      "https://twitter.com/LIN_Mengwei",
      "https://www.ub.edu/school-economics/lin-mengwei",
      "https://ieb.ub.edu/en/researcher/lin-mengwei"
    ],
    "hasOccupation": [
      {
        "@type": "Academic",
        "jobTitle": "PhD Candidate",
        "worksFor": {
          "@type": "Organization",
          "name": "University of Barcelona",
          "alternateName": ["UB", "巴塞罗那大学"]
        }
      },
      {
        "@type": "Academic",
        "jobTitle": "Researcher",
        "worksFor": {
          "@type": "Organization",
          "name": "Institut d'Economia de Barcelona",
          "alternateName": ["IEB", "Barcelona Institute of Economics", "巴塞罗那经济研究所"]
        }
      },
      {
        "@type": "Translation",
        "jobTitle": "Translator",
        "worksFor": {
          "@type": "Freelance",
          "name": "翻译"
        }
      }
    ]
  }
  </script>

</head>
<body>
  <!-- Your content here -->
</body>
</html>
