// ======================
// Blog Section
// ======================

#blog {
  .hero-body {
    padding: 3rem 0.25rem 1rem 0.25rem;
  }

  .container {
    margin: 1.5rem auto;
  }

  #blog-card {
    transition: all 0.25s ease;
    margin-bottom: 0.5vmax;
    transform: scale(0.85);
    margin-right: 2.5vmax;
    margin-left: 2.5vmax;
    line-height: normal;
    border-radius: 0.25rem;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);

    &:hover {
      transform: scale(0.875);
      box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
    }

    @media (max-aspect-ratio: 1/1) {
      transform: scale(1);
      margin-bottom: 5vmax !important;

      &:hover {
        transform: scale(1.025);
        margin-bottom: 5vmax !important;
        box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
      }

      .image {
        padding-top: 50% !important;
      }
    }

    .title { margin: 0.5rem !important; }
    .content { margin: 0.5rem; }

    .column {
      display: grid;

      .image {
        border-radius: 0.25rem;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }
}
