// ======================
// Post / Content Pages
// ======================

#post {
  @media (min-aspect-ratio: 1/1) {
    margin: auto 2.5vmax;
  }

  a { text-decoration: underline; }
  #title { text-decoration: none; }
  .title { margin: auto; }
  #post-image { border-radius: 0.25rem; }
  .subtitle { letter-spacing: 0.05rem; }
  #description { margin-bottom: 1.25vmax; }
  .tag { margin: 0.15rem auto; }

  .content {
    ol, ul, blockquote { display: inline-block; }
    hr { background-color: grey; }

    img, iframe {
      max-width: calc(100% - 25vw);
      margin: 0.25rem auto;
      @media (max-aspect-ratio: 1/1) {
        max-width: calc(100% - 5vw);
      }
    }

    ul, ol { display: inline-block; }
  }

  .container {
    margin: 2.5rem auto;
    word-break: break-word;
    max-width: -webkit-fill-available;
  }

  #disqus_thread { margin-top: 5vmax; }
}

#page-section {
  .content {
    ul, ol, blockquote { display: inline-block; }
  }
}
