---
---

@import "main.scss";


html, body {
  max-width: 100%;
  overflow-x: hidden; // ✅ 阻止页面在小屏幕横向滚动
}

* {
  box-sizing: border-box; // ✅ 防止 padding 撑爆容器宽度
}

#navbar {
    opacity: 0.95;
}

.is-active {
    font-weight: 600;
}

.navbar-dropdown {
    border: none;
    right: 0;
    left: auto;
}

a.navbar-item:hover,
.navbar-link:hover {
    background-color: rgba($color: #fff, $alpha: 0.25) !important;
    color: white !important;
}

a.navbar-item.is-active {
    background-color: rgba($color: #fff, $alpha: 0.25) !important;
    color: white !important;

    &:hover {
        background-color: rgba($color: #fff, $alpha: 0.25) !important;
        color: grey;
    }
}

.navbar-link:not(.is-arrowless)::after {
    border-color: grey;
}

a {
    color: rgb(95,129,81)
    }

#hero {
    background: rgb(0, 0, 0);
    background: -moz-linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.75) 100%);
    background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.75) 100%);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.75) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#000000", GradientType=1);

    &::before {
        filter: blur(0.15rem);
        background-image: url({{site.heroimage}});
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        position: absolute;
        opacity: 0.25;
        content: "";
    }
}
.title {
    margin: auto 0.75rem!important;
}
.subtitle {
    letter-spacing: 0.25rem;
}

#about {

    .image {
        
        @media (min-aspect-ratio: 1/1) { // 针对电脑
            max-width: 20vmax;
            display: flex;
            justify-content: center;
            img {
                border: 0.25rem dotted black;
                width: 80%;
                max-width: 100%;
            }
        }

        @media (max-aspect-ratio: 1/1) { // 针对平板和手机
            
            width: 100%;
            display: flex;
            justify-content: center;
            padding-bottom: 5%;

            img {
                width: 80%;
                max-width: 25vmax;
            }
        }
    }

    a {
        color: inherit;
        text-decoration: underline;
        target: _blank;
        text-align: justify;
        
    }

    p {
        text-align: justify;
    }

    ul {
        @media (min-aspect-ratio: 1/1) {
            
            list-style-type: none; /* 移除默认的圆点 */
            padding:0 4rem ; /* 移除列表的默认内边距 */
            margin: .5rem 0; /* 为列表上下添加适当的间距 */
            text-align: justify;

            li {
                    margin-bottom: 0.5rem; /* 每个列表项的间距 */
                    line-height: 1; /* 提高行高，增加可读性 */
                    text-indent: -1.5rem; /* 使多行文字对齐 */
                    padding-left: 1.5rem; /* 为内容添加左侧缩进 */
                    position: relative; /* 为伪元素定位做准备 */
                }

            li::before {
                    content: "•"; /* 自定义列表项标记 */
                    position: absolute;
                    left: 0; /* 圆点位置 */
                    color: #000; /* 圆点颜色 */
                    font-size: 1rem; /* 圆点大小 */
                }   
            }
        @media (max-aspect-ratio: 1/1) {
            
            list-style-type: none; /* 移除默认的圆点 */
            padding:0 0 ; /* 移除列表的默认内边距 */
            margin: 3% 0; /* 为列表上下添加适当的间距 */
            text-align: left;

            li {
                    margin-bottom: 0.5rem; /* 每个列表项的间距 */
                    line-height: 1.25; /* 提高行高，增加可读性 */
                    text-indent: 1pt; /* 使多行文字对齐 */
                    position: relative; /* 为伪元素定位做准备 */
                }

            li::before {
                    content: "• "; /* 自定义列表项标记 */
                    position: relative;
                    left: 0; /* 圆点位置 */
                    color: #000; /* 圆点颜色 */
                    font-size: 1rem; /* 圆点大小 */
                }   
            }
        }   
    }



    #biography {

        
        @media (max-aspect-ratio: 1/1) { // 针对平板和手机
            padding: 0;
            margin: 3%;
        
            p {
                text-align: left;
                line-height: 1.75;
            }
        }

        @media (min-aspect-ratio: 1/1) {
            padding: 0;
            margin-left: 15%;
            margin-right: 15%;
            margin-top: none;

            p{
                font-size:105%;
            }
        }


    }

    .button {
        @media (min-aspect-ratio: 1/1) {
            min-width: 25vmax;
            margin: 0;
            padding: 0;
        }

        @media (max-aspect-ratio: 1/1) { 
            min-width: 30vmax;
            margin: 0;
            padding: 0;
        }
    }

    .social-icon {
    display: inline-flex; /* 使链接和图标成为行内元素 */
    justify-content: center; /* 水平居中对齐 */
    align-items: center; /* 垂直居中对齐 */
    width: 2.5rem; /* 设置与图标大小相匹配的宽度 */
    height: 2.5rem; /* 设置与图标大小相匹配的高度 */
    margin: 0 15px; /* 调整图标之间的间距 */
    font-size: 2rem; /* 图标大小 */
    text-align: center; /* 确保图标居中 */
    padding: 0; /* 移除内边距 */
    }




#contact {
    #contact-button {
        margin: 0.5rem auto;
        display: flex;
        justify-content: center;
    }

    svg {
        transition: all 0.15s ease-in-out;
        margin: auto 0.75vmax;

        &:hover {
            transform: scale(1.10);
            filter: opacity(0.75);
        }
    }

    hr {
        background-color: black;
    }
}

#blog {
    .hero-body {
        padding: 3rem 0.25rem 1rem 0.25rem;
    }

    .container {
        margin: 1.5rem auto;
    }

    #blog-card {
        transition: all 0.25s ease;
        margin-bottom: 0.5vmax;
        transform: scale(0.85);
        margin-right: 2.5vmax;
        margin-left: 2.5vmax;
        line-height: normal;
        border-radius: 0.25rem;
        -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);

        &:hover {
            transform: scale(0.875);
            -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
            -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
        }

        @media (max-aspect-ratio: 1/1) {
            transform: scale(1);
            margin-bottom: 5vmax !important;

            &:hover {
                transform: scale(1.025);
                margin-bottom: 5vmax !important;
                -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
                -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
                box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
            }

            .image {
                padding-top: 50% !important;
            }
        }

        .title {
            margin: 0.5rem !important;
        }

        .content {
            margin: 0.5rem;
        }

        .column {
            display: grid;

            .image {
                border-radius: 0.25rem;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
    }
}

#teaching {

    .hero-body {
        padding: 3rem 0.25rem 1rem 0.25rem;
    }

    .container {
        margin: 1.5rem auto;
    }

    #teaching-card {
        transition: all 0.25s ease;
        margin-bottom: 0.5vmax;
        transform: scale(0.85);
        margin-right: 2.5vmax;
        margin-left: 2.5vmax;
        line-height: normal;
        border-radius: 0.25rem;
        -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);

        &:hover {
            transform: scale(0.875);
            -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
            -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
        }



        @media (max-aspect-ratio: 1/1) {
            transform: scale(1);
            margin-bottom: 5vmax !important;

            &:hover {
                transform: scale(1.025);
                margin-bottom: 5vmax !important;
                -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
                -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
                box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
            }

            .image {
                padding-top: 50% !important;
            }
        }

        .title {
            margin: 0.5rem !important;
        }

        .content {
            margin: 0.5rem;
        }

        .column {
            display: grid;

            .image {
                border-radius: 0.25rem;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
    }
}


#course {
    
    
    a {
        color: rgb(95,129,81)
    }

    @media (min-aspect-ratio: 1/1) {
        .container  {
            padding-left: 10%;  
            padding-right: 10%;
            text-align: justify;
        }

        p {
          padding-left: 7%;  
          padding-right: 7%;
          text-align: justify;
        }

        h1 {
          margin: 0 !important;
        }
    }

    @media (max-aspect-ratio: 1/1) {
        .hero-body {
          padding: 0;
        }

        p {
          text-align: left;
        }

        h1 {
          margin-top: 10% !important;
          font-size: 26px !important;
        }

        h2 {
          margin-top: 0;
          padding-top: 0; 
          text-align: center !important;
          font-size: 22px;
        }
    }
}

#translation {
  .hero-body {
        a {
          text-decoration: none !important;
          color: rgb(95,129,81);
          font-weight: bolder;
        }
        img { 
          max-height: 200px !important;
        }

        background-color: #f6faf6
      }

      @media (min-aspect-ratio: 1/1) {
        .hero-body {
          padding-left: 18%;  
          padding-right: 18%;
          text-align: justify;
        }

        p {
          padding-left: 7%;  
          padding-right: 7%;
          text-align: justify;
        }

        h1 {
          margin: 0 !important;
        }

        h2 {
          margin-top: 0;
          padding-bottom: 1.5%;
        }

        h4 {
          margin-top: 3%;
        }
      }

      @media (max-aspect-ratio: 1/1) {
        .hero-body {
          padding: 0;
        }

        p {
          text-align: left;
        }

        h1 {
          margin-top: 10% !important;
          font-size: 26px !important;
        }

        h2 {
          margin-top: 0;
          padding-top: 0; 
          text-align: center !important;
          font-size: 22px;
        }
      }

      // 书籍展示部分样式
      
      #books {

        @media (min-aspect-ratio: 1/1) {
            padding: 20px;
        }

        @media (max-aspect-ratio: 1/1) {
            padding-top: 20px;
            padding-bottom: 20px;
        }

        background-color: white;

        h2 {
          text-align: center;
          margin-bottom: 20px;
        }

        .books-container {
          display: flex;
          flex-direction: column;
          gap: 20px;
        }

        .book {
          display: flex;
          flex-direction: row;
          align-items: center;
          border-bottom: 1px solid #ddd;
          padding-bottom: 20px;
        }

        .book-image {
          flex: 0 0 auto;
          margin-right: 20px;
        }

        .book-details {
          flex: 1 1 auto;
          text-align: left;
        
        p {
            font-size: 1em;
            color: #666;
            padding-bottom: 1em;
          }
        }

        img {
          max-width: 100px;
          height: auto;
        }
      }

}

#research.research-container {
  padding: 0 1vw;
  max-width: 1200px;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    padding: 2rem 3rem;
  }

  @media screen and (min-width: 1024px) {
    padding: 2rem 5%;
  }
}

#research {
  .research-card {
    margin: 2em 0em;
    padding: 1.5rem;
    border-radius: 8px;
    background: white;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);

    .research-card-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;

      h3 {
        margin: 0;
      }

      .tag {
        font-size: 0.75rem;
      }
    }

    .abstract-box {
      padding: 0.5rem 0.5rem;
      margin-bottom: 1rem;
      border-radius: 6px;
      background-color: #f8f9fa;
      line-height: 1.6;
      font-size: 0.95rem;

      summary {
        font-weight: 600;
        cursor: pointer;
        margin-bottom: 0.5rem;
      }

      &:hover {
        background-color: #f1f1f1;
      }
    }

    summary {
      cursor: pointer;
      font-weight: 600;
    }
  }

  .research-flex-row {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-between;
  }

  .research-text-col {
    flex: 0 0 55%;
    min-width: 200px;
  }

  .research-image-col {
    flex: 0 0 40%;
    min-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .research-image-box {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      max-width: 100%;
      height: auto;
      overflow: hidden;
      border-radius: 6px;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);

      img {
        width: 100%;
        height: auto;
        object-fit: contain;
      }
    }

  .research-image-box.is-dual {
      display: flex;
      flex-direction: column;
      gap: 2em;
      justify-content: center;
      align-items: center;
      width: 100%;

      img {
        width: 100%;
        height: auto;
        object-fit: contain;
        border-radius: 6px;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
        transition: all 0.2s ease;
      }

      .primary-img {
        display: block;
      }

      .secondary-img {
        display: none;
      }

      &.expanded {
        .secondary-img {
          display: block;
        }
      }
    }

  .tag.is-info {
    font-size: 0.8rem;
    padding: 0.3em 0.7em;
    margin-bottom: 0.25rem;
  }

  a {
    color: rgb(95,129,81)
  }

  @media screen and (max-width: 768px) {
  .research-flex-row {
    flex-direction: column;
    gap: 1rem;
  }

  .hidden-img {
  display: none !important;
  }

  .research-image-col {
    flex: 1 1 100%;
    order: -1; // 图片排在文字前面
    margin-bottom: 0rem;
  }

  .research-text-col {
    padding: 0 0.25rem;
  }

  .presented-info {
    font-size: 0.8em;
  }
}

}


#activities {

  .hero-body {

        a {
          text-decoration: none !important;
          color: rgb(95,129,81);
          font-weight: bolder;
        }
        img { 

        }
      }
        ul {
            margin-left: 10%;
            margin-right: 10%;
            margin-top: 0
        }

      @media (min-aspect-ratio: 1/1) {
        .hero-body {
          padding-left: 18%;  
          padding-right: 18%;
          text-align: justify;
        }
        
        details summary {
          margin-left: 7%;
          margin-right: 7%;
          text-align: justify; 
          cursor: pointer;
          background-color: #fff;
          border-radius: 5px;
          border-width-left: 7%;
          border: 1px solid #ddd;
          padding-top: 1.5%;
          padding-bottom: 1.5%;
          padding-left: 1%;
          transition: background-color 0.3s ease-in-out;
          :active { 
                background-color: #f0f7f2;
          }
        }


        details summary:hover {
          background-color: #f0f7f2;
        }

        details[open] summary{
          background-color: #f0f7f2;
          border: none;
          margin-left: 0;
          margin-right: 0; 
          padding-top: 1.5%;
          padding-bottom: 1.5%;
        }

        details[open] {
          margin-left: 7%;
          margin-right: 7%; 
          background-color: #f0f7f2;
          border-radius: 5px;
          border-width-left: 7%;
          border: 1px solid #ddd;
        }

        details {
            figure {
                 margin: 0;
            }
        }

        details summary::before {
          
        }

        p {
          padding-left: 7%;  
          padding-right: 7%;
          text-align: justify;
        }

        h1 {
          margin: 0 !important;
        }

        h2 {
          margin-top: 0;
          padding-bottom: 1.5%;
        }

        h4 {
          margin-top: 3%;
        }
      }

      @media (max-aspect-ratio: 1/1) {
        .hero-body {
          padding: 0;
        }

        details summary {
          text-align: justify; 
          cursor: pointer;
          background-color: #fff;
          border-radius: 5px;
          border-width-left: 7%;
          border: 1px solid #ddd;
          padding-top: 5%;
          padding-bottom: 5%;
          padding-left: 2%;
          padding-right: 2%;
          transition: background-color 0.3s ease-in-out;
          :active { 
                background-color: #f0f7f2;
          }
        }

        details summary:hover {
          background-color: #f0f7f2;
        }

        details[open] summary{
          background-color: #f0f7f2;
          border: none;
          margin-left: 0;
          margin-right: 0; 
          padding-top: 5%;
          padding-bottom: 5%;
        }

        details[open] {
          background-color: #f0f7f2;
          border-radius: 5px;
          border-width-left: 7%;
          border: 1px solid #ddd;
        }

        details {
            figure {
                 margin: 0;
            }
        }

        p {
          text-align: left;
        }

        h1 {
          margin-top: 10% !important;
          font-size: 26px !important;
        }

        h2 {
          margin-top: 0;
          padding-top: 0; 
          text-align: center !important;
          font-size: 22px;
        }
      }

}

#search {
    border-bottom: 0.15rem solid;

    input {
        border: none;
        outline: none;
        font-weight: 500 !important;

        &::placeholder {
            font-weight: 500;
            color: grey;
            letter-spacing: 0.25rem;
        }
    }

    .button {
        transition: all 0.25s ease;
        &:focus {
            outline: 0.25rem solid white;
        }

        border: none;
    }
}


#footer {
    #backtotop {
        transition: all 0.25s ease;
        width: 10rem;
        padding: 0.25rem;
        margin: auto auto 1rem auto;

        &:hover {
            transform: scale(1.05);
        }
    }

    .container {
        margin: auto;
        padding: 1.5rem;
        line-height: 1.25;

        .column {
            display: grid;
            justify-content: center;

            li {
                list-style: circle;
                list-style-position: outside;
            }

            a {
                color: #7a7a7a;

                &:hover {
                    color: white;
                }
            }

            figure {
                border: 1.5px solid white;
                border-radius: 50rem;
                justify-content: center;
                margin: auto;
                transition: all 0.25s ease;
                &:hover{
                    transform: scale(1.15);
                }
            }
        }
    }

    #credits {
        padding: 0.75rem;
        font-size: 0.85rem;

        a {
            text-decoration: underline;
            font-weight: bolder;
            color: white;
        }
    }
}

#project {
    .columns {
        .column {
            border-radius: 0.5rem;
            .image {
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
    }

    #project-card {
        -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
        transform: scale(0.95);
        transition: all 0.5s ease;
        margin-bottom: 0.5rem !important;
        display: inline-table;
        &:hover {
            transform: scale(0.975);
        }
    }
    .card {
        transition: all 0.25s ease;
        &:hover {
            background-color: rgba($color: #000000, $alpha: 0.90)!important;
        }
    }
}

#post {
    @media (min-aspect-ratio: 1/1) {
        margin: auto 2.5vmax;
    }
    a {
        text-decoration: underline;
    }
    #title {
        text-decoration: none;
    }
    .title {
        margin: auto;
    }
    #post-image {
        border-radius: 0.25rem;
    }
    .subtitle {
        letter-spacing: 0.05rem;
    }

    #description {
        margin-bottom: 1.25vmax;
    }

    .tag {
        margin: 0.15rem auto;
    }
    .content {
        ol, ul, blockquote {
            display: inline-block;
        }
        hr{
            background-color: grey;
        }
        img, iframe {
            max-width: calc(100% - 25vw);
            margin: 0.25rem auto;
            @media (max-aspect-ratio: 1/1) {
                max-width: calc(100% - 5vw);
            }
        }
        ul, ol {
            display: inline-block;
        }
    }

    .container {
        margin: 2.5rem auto;
        word-break: break-word;
        max-width: -webkit-fill-available;
    }

    #disqus_thread {
        margin-top: 5vmax;
    }
}

#page-section {
    .content {
        ul, ol, blockquote {
            display: inline-block;
        }
    }
}