---
layout: base
---

{% include showcase.html %}
{% include about.html %}

<script>
  var navItems = document.getElementsByClassName('navbar-item');
  var heroes = document.getElementsByClassName('hero');
  const viewOffset = 200;

  window.addEventListener("scroll", function (event) {
    var scroll = this.scrollY;

    for (var i = 0; i < navItems.length; i++) {
      navItems[i].classList.remove('is-active');
    }

    for (var i = 0; i < heroes.length; i++) {
        var sectionTop = heroes[i].offsetTop - viewOffset;
        var sectionBottom = heroes[i].offsetTop + heroes[i].offsetHeight - viewOffset;

        if (scroll >= sectionTop && scroll < sectionBottom) {
          var sectionId = heroes[i].getAttribute('id');
          if (sectionId) {
            for (var j = 0; j < navItems.length; j++) {
              var href = navItems[j].getAttribute('href');
              if (href && href.indexOf('#' + sectionId) !== -1) {
                navItems[j].classList.add('is-active');
                break;
              }
            }
          }
      }
    }
  });
</script>