---
layout: base
body_id: teaching-page
---

<style>
.teaching-hero {
  height: 36vh;
  filter: brightness(1.01) contrast(1.03);
}
@media (max-width: 768px) {
  .teaching-hero {
    height: 25vh;
    background-position: center 45%;
  }
}
</style>

<section class="hero teaching-hero teaching-banner">
  <div class="hero-body teaching-banner-overlay">
    <div class="container has-text-centered">
    </div>
  </div>
</section>

<section class="hero is-fullheight" id="teaching">
  <div class="teaching-heading-wrapper">
    <div class="container">
      {% include teaching-heading.html %}
    </div>
  </div>

  <div class="hero-body teaching-cards-wrapper">
    <div>
      {% for course in site.courses %}
      {% include teaching-card.html %}
      {% endfor %}
    </div>
  </div>

  <div class="hero-body teaching-other-wrapper">
    {% for item in site.data.teaching_other %}
    <p>
      <b>{{ item.category }}</b>
      <br>
      {% for exp in item.items %}
      {{ forloop.index }}. <i>{{ exp.course }}</i>, {{ exp.institution }}, {{ exp.period }}
      <br>
      {% endfor %}
    </p>
    {% endfor %}
  </div>
</section>

<br>
{% include search-init.html %}
